html,body {
	height: 100%;
	width: 100%;
}
thead {
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	margin-bottom: 5px;
}

#formularioMapa {
	margin-top: 0px;
}

#mapa {
	padding-top: 0px;
	height: 500px;
	width: 100%;
}

.navbar {
	border-radius: 0;
	width: 100%;
}

.infoBox { 
	background-color: #d7ddda;
	font-family: Arial, Helvetica, sans-serif; 
	width: 300px;
	word-wrap: break-word;
	font-size: 14px; 
	color: #46582c;
	border: 2px solid #afb2b0; 
	border-radius: 3px; 
	margin-top: 10px;
	padding: 0 8px;
	max-height: 200px;
	overflow-y: auto;
}

.infoBox p { 
	padding: 0 20px; 
}

.infoBox:before { 
	background-color: #d7ddda; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom: 10px solid #afb2b0;
	top: -10px; content: ""; 
	left: 138px; 
}

.input-group-addon {
	width:65px;
	text-align:center;
}



